@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.glass {
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}

.product__shadow {
    box-shadow: 12px 14px 18px rgba(128, 128, 128, 0.356);
}

.shape__grid {
    /* display: grid; */
    grid-template-columns: 55% 45%;
}


.border__radius {
    border-radius: 45% 0 45% 0;
}

.input__shadow {
    box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.356);
}

.footer__top__border {
    border-top: 1px rgba(0, 0, 0, 0.26) solid;
}

/* CUSTOM MEDIAS */

@media (min-width: 640px) {
    .left__shape {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    }
    
    .glassLog {
        background: rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.3px);
        -webkit-backdrop-filter: blur(2.3px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}

@media (min-width: 768px) {
    .dealGrid {
        display: grid;
        grid-template-columns: 40% 60%;
    }
}

@media (min-width: 900px) {
    .dude {
        display: block;
    }
}

@media (min-width: 1024px) {
    .fashion__products__grid {
        display: grid;
        grid-template-columns: 20% 80%;
    }
}
